{% block content %}

<head>
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
</head>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<style>
    div.card {
        margin: 40px 0;
    }

    i.icon-black {
        color: black;
    }
</style>

<div class="navbar-fixed">
    <nav class="nav-wrapper #00c853 green accent-4">
        <div class="container">
            <a href="#!" class="brand-logo center">AveDex</a>
        </div>
    </nav>
</div>

<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
        <a href="#user"><img class="circle" src="{{ url_for('static', filename='Avedex.png')}}"></a>
        <a href="#name"><span class="black-text name">Bienvenido</span></a>
        <a href="#email"><span class="black-text email">{{session['username']}}</span></a>
    </div></li>
    <li><a href="{{url_for('layoutPanel')}}"><i class="material-icons">arrow_back</i>Panel de control</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Opciones</a></li>
    <li><a href="{{url_for('usuarios')}}"><i class="material-icons">group</i>Usuarios</a></li>
    <li><a href="{{url_for('aves')}}"><i class="material-icons">add_circle</i>Aves</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="medium material-icons">menu</i></a>
<!-- Modal Trigger -->
<!---------------------------------------------------------->

<body background="{{ url_for('static', filename='fondomision.png')}}"
    style="background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">



    <div class="section">
        <div class="row container">
            <h3 class="header light">Sección de misiones</h3>
            <h6 class="light">
                Estimado administrador, la sección está compuesta
                por una tabla con todos las misiones registrados en el sistema.
                En esta, encontrará tres botones; un (+) en la parte derecha superior
                de la tabla que le dará la opción de añadir una nueva; un emoticon en forma de lápiz ✏️
                por cada fila de la tabla, le permitirá editar cada registro. Finalmente, un emoticon
                en forma de canasta 🗑, le permitirá eliminar el registro al que corresponda.
            </h6>
            <h6 class="light">
                En la parte izquierda superior de la pantalla encontrará un emoticon en forma de menú, púlselo 
                para ver las opciones que tiene disponible.
            </h6>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card">
                    <a id="add"
                        class="btn-floating btn-large waves-effect modal-trigger waves-light right #4dd0e1 cyan lighten-2">
                        <i class="material-icons">add</i>
                    </a>
                    <div class="card-content">
                        <h4 class="light">Misiones</h4>
                        <table class="centered">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Puntos</th>
                                </tr>
                            </thead>
                            {% for r in misiones %}
                            <tr>
                                <td>{{ r[0] }}</td>
                                <td>{{ r[1] }}</td>
                                <td>{{ r[2] }}</td>
                                <td>{{ r[3] }}</td>
                                <td id="{{ r[0] }}">
                                    <!--<a class="btn-floating btn-large waves-effect modal-trigger waves-light right #e0e0e0 grey lighten-2"
                                    href="#update">
                                    <i class="material-icons icon-black" data-idusr='{{ r[0] }}' data-nom='{{ r[1] }}' data-email='{{ r[2] }}' data-ides='{{ r[3] }}'>create</i>
                                </a>
                                <a class="btn-floating btn-large waves-effect modal-trigger waves-light right #e0e0e0 grey lighten-2"
                                    href="#modal1">
                                    <i class="material-icons icon-black">delete_forever</i>
                                </a>-->
                                    <i class='material-icons edit' data-mis='{{ r[0] }}' data-nom='{{ r[1] }}'
                                        data-des='{{ r[2] }}' data-punt='{{ r[3] }}'>create</i>
                                    <i class="material-icons icon-black delete" data-mis='{{ r[0] }}'>delete_forever</i>

                            </td>
                        </tr>
                        {% endfor %}

                    </table>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Detalles de la mision</h4>
        <br>
        <form action="{{url_for('misiones')}}" method="POST">
            <div class="row margin">
                <div class="input-field col s12">
                    <input type="hidden" name="idmis" id="idmis">
                    <input type="hidden" name="valorUno" id="valorUno">
                    <input id="nom" type="text" name="nombre" required/>
                    <label for="nom" class="center-align">Titulo</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <input id="descripcion" type="text" name="descripcion" required />
                    <label for="descripcion" class="center-align">descripcion</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <input id="puntos" type="number" name="puntos" required />
                    <label for="puntos">Puntos</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn #64dd17 #4dd0e1 cyan lighten-2" id="btnLoguear" name="btnLoguear">
                        <i class="mdi-action-add"></i>Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="modalEliminar" class="modal">
    <div class="modal-content">
        <h5 class="center light">¿Seguro que quiere eliminar este registro?</h5>
        <br>
        <form action="{{url_for('misiones')}}" method="POST">
            <div class="row margin">
                <div class="input-field col s12 center-align">
                    <input type="hidden" name="idmisEl" id="idmisEl">
                    <input type="hidden" name="valor" id="valor">
                        <button class="btn #64dd17 #4dd0e1 cyan lighten-2" id="btnLoguear" name="btnEliminar">
                            <i class="mdi-action-add"></i>Eliminar
                        </button>
                </div>
            </div>
        </form>
    </div>
</div>

{{ toastr.include_toastr_js() }}
<script type="text/javascript">
    $(document).ready(function(){
        $('.sidenav').sidenav();
    });

    $(' #add').on("click", function () {
        $('#idmis').val(''); 
        $('#nom').val(''); 
        $('#descripcion').val(''); 
        $('#puntos').val(''); 
        $('.modal').modal();
        $('#modal1').modal('open');
        $('#valorUno').val('insertar');
        $('#nom').focus();
    });
    $(document).on("click", '.edit', function () {
        var idmis = $(this).attr("data-mis"); 
        var nom = $(this).attr("data-nom"); 
        var descripcion = $(this).attr("data-des"); 
        var puntos = $(this).attr("data-punt");
        $('#idmis').val(idmis);
        $('.modal').modal(); 
        $('#modal1').modal('open');
        $('#nom').val(nom); 
        $('#descripcion').val(descripcion); 
        $('#puntos').val(puntos); 
        $('#valorUno').val('actualizar');
        $('#nom').focus();
    }); 
    $(document).on("click", '.delete', function(){
        var idumisi = $(this).attr("data-mis");
        $('.modal').modal(); 
        $('#modalEliminar').modal('open');
        $('#idmisEl').val(idumisi);
        $('#valor').val('eliminar');
        /*$.ajax({
            type: "POST",
            url: "/eliminarUsuario",
            async: false,
            data: { mydata: idusr }
        });*/
    });
</script>                                        
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".modal");
        var instances = M.Modal.init(elems);
        var elemento = document.querySelectorAll("select");
        var instancia = M.FormSelect.init(elemento);
    });
</script>
{% endblock %}